.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: #fff;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}

.hero-background {
    background-image: url(./image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.box {
    width: 500px;       /* 適当な幅を指定 */
    height: 300px;      /* 適当な高さを指定 */
    position: relative; /* 基準位置とする */
  }
  
  /* 共通するCSS */
  .box img {
    width: 300px;       /* 適当な幅を指定 */
    position: absolute; /* 相対位置に指定 */
  }
  
  .box .img_01 {
    /* 左上に固定 */
    top: 0;
    left: 0;
  }
  
  .box .img_02 {
    /* 右下に固定 */
    bottom: 0;
    right: 0;
  }